DB_HOST=localhost
DB_PORT=3306
DB_USER=d0486ff6
DB_PASSWORD=V9MXKgWYBnNUNwEtKoyT
DB_NAME=time_tracking
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_PORT=3306
ADMINER_PORT=8080
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=